<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card-dashboard">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Editar Derivación</h4>
                      <p class="card-category">Complete su derivación</p>
                  </div>
                  <div class="card-body" *ngIf="client">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Id (disabled)" disabled name="client._id" [(ngModel)]="client._id">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre Paciente" name="client.firstName" [(ngModel)]="client.firstName" type="text">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Apellido Paciente" type="tel" name="client.lastName" [(ngModel)]="client.lastName">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="HC" type="text" name="client.hc" [(ngModel)]="client.hc">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="DNI" type="text" name="client.dni" [(ngModel)]="client.dni">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Dirección" type="text" name="client.address" [(ngModel)]="client.address">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Edad" type="text" name="client.age" [(ngModel)]="client.age">
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Sexo" type="text" name="client.sex" [(ngModel)]="client.sex">
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Teléfono" type="text" name="client.phone" [(ngModel)]="client.phone">
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Hospital Origen" type="text" name="client.hospitalOrigin" [(ngModel)]="client.hospitalOrigin">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label class="label-client-detail">Información Adicional</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Descripción"></textarea>
                                 </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button (click)="save()" class="btn btn-primary pull-right">Actualizar Derivación</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-dashboard card-profile">
                  <div class="card-avatar">
                      <a href="#diego">
                          <img class="img" src="./././assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body" *ngIf="client">
                      <h6 class="card-category">{{ client.hc }}</h6>
                      <h4 class="card-title">{{ client.firstName }} {{ client.lastName }}</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>