<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card-dashboard">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Crear Derivación</h4>
                      <p class="card-category">Complete su derivación</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="HC" #hc type="text">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="DNI" #dni type="text">
                                  </mat-form-field>
                              </div>
                            </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre Paciente" #firstName type="text">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Apellido Paciente" #lastName type="text">
                                  </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Dirección" #adress type="text">
                                  </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Edad" type="text" #age>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Sexo" type="text" #sex>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Teléfono" type="text" #phone>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Hospital Procedencia" type="text" #hospitalOrigin>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label class="label-client-detail">Información Adicional</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Descripción" #additionalInformation></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button (click)="add(firstName.value, lastName.value, hc.value, dni.value, adress.value, age.value, sex.value, phone.value, hospitalOrigin.value); firstName.value=''; lastName.value=''; hc.value=''; dni.value=''; adress.value=''; age.value=''; sex.value=''; phone.value; hospitalOrigin.value=''" class="btn btn-primary pull-right">Guardar
                          </button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-dashboard card-profile">
                  <div class="card-avatar">
                      <a href="#diego">
                          <img class="img" src="./././assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category">{{hc.value}}</h6>
                      <h4 class="card-title">{{firstName.value + ' ' + lastName.value}}</h4>
                      <p class="card-description"> {{additionalInformation.value}} </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>