<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card-dashboard card-plain">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title ">Derivaciones</h4>
                      <p class="card-category"> Lista derivaciones</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                                <tr>
                                  <th> HC </th>
                                  <th> Paciente </th>
                                  <th> DNI </th>
                                  <th> Edad </th>
                                  <th> Estado </th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                								<tr *ngFor="let client of clients$ | async">
                									<td routerLink="/client-center/{{client.id}}">{{client.hc}}</td>
                									<td routerLink="/client-center/{{client.id}}">{{client.fullName}}</td>
                									<td routerLink="/client-center/{{client.id}}">{{client.dni}}</td>
                                  <td routerLink="/client-center/{{client.id}}">{{client.age}}</td>
                									<td routerLink="/client-center/{{client.id}}" class="text-primary">{{client.status}}
                                  </td>
                                  <td>
                                    <a class="material-icons" title="delete client" (click)="delete(client)">clear</a>
                                  </td>
                              	</tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>