<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card-dashboard card-plain">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title ">Clients</h4>
                      <p class="card-category"> List of clients</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                                <tr>
                                  <th> ID </th>
                                  <th> Name </th>
                                  <th> Phone </th>
                                  <th> Tone </th>
                                  <th> Attention Day </th>
                                </tr>
                              </thead>
                              <tbody>
                								<tr *ngFor="let client of clients">
                									<td routerLink="/detail/{{client.id}}">{{client.id}}</td>
                									<td>{{client.name}}</td>
                									<td>{{client.phone}}</td>
                									<td class="text-primary">{{client.tone}}</td>
                									<td>{{client.attentionDay}}</td>
                              	</tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<h2>Clientes</h2>
<app-client-search></app-client-search>
<div>
	<!-- (click) passes input value to add() and then clears the input -->
	<a routerLink="/new">New Client</a>
</div>
<ul class="clients">
	<li *ngFor="let client of clients">
		<a routerLink="/detail/{{client.id}}">
			<span class="badge">{{client.id}}</span>{{client.name}}
		</a>
		<button class="delete" title="delete client" (click)="delete(client)">x</button>
	</li>
</ul>

