<div>
	<label>Name:
		<input #clientName />
	</label>
</div>
<div>
	<label>Phone:
		<input #phone />
	</label>
</div>
<div>
	<label>Birthday:
		<input #birthday />
	</label>
</div>
<div>
	<label>Work Detail:
		<input #workDetail />
	</label>
</div>
<div>
	<label>Tone:
		<input #tone />
	</label>
</div>
<div>
	<label>Attention Day:
		<input #attentionDay />
	</label>
</div>
<button (click)="goBack()">go back</button>
<button (click)="add(clientName.value, phone.value, birthday.value, workDetail.value, 
	tone.value, attentionDay.value); clientName.value=''; phone.value=''; birthday.value=''; workDetail.value=''; tone.value=''; attentionDay.value=''">save</button>